{% extends "layout.html" %}
{% block content %}

<h1>Editar Periodo</h1>

<a href="/eliminarclase/{{idclase}}"><button class="btn btn-danger">Eliminar clase</button></a>
<a href="/deshabilitarclase/{{idclase}}"><button class="btn btn-warning">Deshabilitar clase</button></a>

<form action="" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nombre">Curso</label>
          <input type="text" class="form-control" id="curso" name="curso" placeholder="Curso" value="{{periodo[0]}}" required>
        </div>
		<div class="form-group col-md-6">
			<label for="carrera">Carrera</label>
			<select id="carrera" name="carrera" class="form-control" required>
			  <option selected>Seleccione la carrera</option>
			  {% for i in carreras %}
			  {% if i[0] == periodo[2] %}
			  <option value="{{i[0]}}" selected>{{i[1]}}</option>
			  {% else %}
			  <option value="{{i[0]}}">{{i[1]}}</option>
			  {% endif %}
			  {% endfor %}
			</select>
		  </div>
      </div>
	  <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fechainicio">Fecha Inicio</label>
          <input type="date" class="form-control" id="fechainicio" name="fechainicio" placeholder="Fecha Inicio" value="{{periodo[9]}}" required>
        </div>
		<div class="form-group col-md-6">
			<label for="fechafin">Fecha Fin</label>
			<input type="date" class="form-control" id="fechafin" name="fechafin" placeholder="Fecha Fin" value="{{periodo[10]}}" required>
		  </div>
      </div>
      <div class="form-row">
		<div class="form-group col-md-6">
			<label for="horainicio">Hora Inicio</label>
			<input type="time" class="form-control" id="horainicio" name="horainicio" placeholder="Hora Inicio" value="{{horas[0]}}" required>
		  </div>
		  <div class="form-group col-md-6">
			  <label for="horafin">Hora Fin</label>
			  <input type="time" class="form-control" id="horafin" name="horafin" placeholder="Hora Fin" value="{{horas[1]}}" required>
			</div>
    </div>
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="seccion">Sección</label>
			<input type="text" class="form-control" id="seccion" name="seccion" placeholder="Sección" value="{{periodo[1]}}" required>
		  </div>
		  <div class="form-group col-md-6">
			  <label for="precio">Precio</label>
			  <input type="number" step="0.01" class="form-control" id="precio" name="precio" placeholder="Precio" value="{{periodo[5]}}" required>
			</div>
    </div>
	  <div class="form-row">
		<div class="form-group col-md-6">
		  <label for="modalidad">Modalidad</label>
		  <select id="modalidad" name="modalidad" class="form-control" required>
			<option selected>Seleccione la modalidad de clase</option>
			{% if periodo[7] == 0 %}
			<option value="0" selected>Virtual</option>
			<option value="1">Presencial</option>
			{% else %}
			<option value="0">Virtual</option>
			<option value="1" selected>Presencial</option>
			{% endif %}
		  </select>
		</div>
		<div class="form-group col-md-6">
			<label for="formadepago">Forma de Pago</label>
			<select id="formadepago" name="formadepago" class="form-control" required>
			  <option selected>Seleccione la forma de pago</option>
			  {% if periodo[8] == 'Cheque' %}
			  <option value="Cheque" selected>Cheque</option>
			  <option value="Efectivo">Efectivo</option>
			{% elif periodo[8] == 'Efectivo' %}
			<option value="Cheque">Cheque</option>
			  <option value="Efectivo" selected>Efectivo</option>
			{% endif %}

			</select>
		  </div>
	  </div>
	  <div class="form-row">
		<div class="form-group col-md-6">
		  <label for="dia">Dia</label>
		  <select id="dia" name="dia" class="form-control" required>
			<option selected>Seleccione el dia de clase</option>
			{% for i in dias %}
			{% if i[0] == periodo[11] %}
			<option value="{{i[0]}}" selected>{{i[1]}}</option>
			{% else %}
			<option value="{{i[0]}}">{{i[1]}}</option>
			{% endif %}
			{% endfor %}
		  </select>
		</div>
	</div>
		<br>
      <button type="submit" class="btn btn-primary">Aceptar</button>
</form>

{% endblock %}