{% extends "layout.html" %}
{% block content %}

<div style="width: 70%; float: left;">
	<h1>Periodos Registrados</h1>
	<h2>{{catedratico[5]}} {{catedratico[1]}} {{catedratico[2]}}</h2>
	<h4>{{catedratico[3]}}</h4>
	<h4>{{catedratico[4]}}</h4>
</div>

<div style="width: 25%; float: right;">
	<img src="/static/barcodes/{{catedratico[1]}}_{{catedratico[2]}}.png" width="100%">
</div>
<br><br><br><br><br><br><br><br>

<h4 style="float: right;">Total a Facturar: Q {{totales}}</h4>
<a href="/reportepdf/{{catedratico[0]}}" target="_blank"><button class="btn btn-info">Exportar PDF</button></a>
<br>
<table class="table table-striped sortable">
	<tr>
		<th colspan="7" style="text-align: center;">Resumen</th>
	</tr>
	<tr>
		<th>Mes</th>
		<th>Carrera</th>
		<th>Total de Periodos</th>
		<th>Periodos Registrados</th>
		<th>Diferencia de Periodos</th>
		<th>Precio</th>
		<th>Total</th>
	</tr>
	{% for i in periodosmeses %}
	<tr>
		<td>{{i[1][1]}} {{i[0]}}</td>
		<td>{{i[5]}}</td>
		<td>{{i[6]}}</td>
		<td>{{i[2]}}</td>
		<td>{{i[7]}}</td>
		<td>Q {{i[8]}}</td>
		<td>Q {{i[4]}}</td>
	</tr>
	{% endfor %}
</table>
<br>
<center><h1>Desplegado por Mes</h1></center>
<form action="" method="POST">

<table class="table table-striped sortable">
	<tr>
		<th>Nombre</th>
		<th>Fecha</th>
		<th>Hora Inicio</th>
		<th>Hora Fin</th>
		<th>Fecha Registro</th>
		<th>Carrera</th>
		<th>Sección</th>
		<th>Forma de Pago</th>
		<th colspan="2">Precio</th>
	</tr>
{% for i in periodosmeses %}
	<tr>
		<th colspan="8"  style="vertical-align: middle;"><center>{{i[1][1]}} {{i[0]}} {{i[5]}}</center></th>
		<th colspan="2" style="vertical-align: middle;">
			<div class="form-group ">
				<input type="text" class="form-control" id="factura{{i[0]}}{{i[1][0]}}" name="factura{{i[0]}}{{i[1][0]}}" placeholder="Factura {{i[1][1]}} {{i[0]}}">
			</div>
		</th>
	</tr>
	{% for j in i[3] %}
	<tr>
		<td>{{j[0]}}</td>
		<td>{{j[4]}}</td>
		<td>{{j[1]}}</td>
		<td>{{j[2]}}</td>
		<td>{{j[9]}}</td>
		<td>{{j[3]}}</td>
		<td>{{j[8]}}</td>
		<td>{{j[10]}}</td>
		<td>Q {{j[7]}}</td>
		<td>
			<input type="text" class="form-control" id="facturai{{j[5]}}" name="facturai{{j[5]}}" placeholder="Factura Individual">
		</td>
	</tr>
	{% endfor %}
	<tr>
		<td colspan="8">Total</td>
		<td colspan="2">Q {{i[4]}}</td>
	</tr>
{% endfor %}
</table>
<button type="submit" class="btn btn-primary">Aceptar</button>
</form>

{% endblock %}