{% extends "layout.html" %}
{% block content %}

<h1>Periodos</h1>
<div>
	<a href="/nuevaclase">
		<button class="button1"><strong>Nuevo Periodo</strong> <i class="iconos fas fa-plus"></i></button>
	</a>
	<br>
	<a href="/nuevacarrera">
		<button class="button1"><strong>Nueva Carrera</strong> <i class="fas fa-plus-circle iconos"></i></button>
	</a><br>
	<a href="/periodoscatedratico">
		<button class="button1"><strong>Ver Periodos por Catedrático</strong> <i
				class="iconos fas fa-user-friends"></i></button>
	</a>
	<br>
	<a href="/periodosclase">
		<button class="button1"><strong>Ver Periodos por Clase</strong> <i
				class="iconos fas fa-clipboard-list"></i></button>
	</a>
	<br>
	<a href="/registroperiodos">
		<button class="button1"><strong>Registrar Periodos</strong> <i
				class="iconos far fa-calendar-check"></i></button>
	</a>
	<br>
	<a href="/entradas">
		<button class="button1"><strong>Ver entradas</strong> <i class="fas fa-door-open iconos"></i></button>
	</a>
	<br>
	<a href="/montofacturar">
		<button class="button1"><strong> Montos a Facturar</strong> <i class="iconos fas fa-coins"></i></button>
	</a>
	<br>
	<a href="/registrarcheque">
		<button class="button1"><strong> Registrar Cheques</strong> <i
				class="iconos fas fa-money-check-alt"></i></button>
	</a>
	<br>
	<a href="/historico">
		<button class="button1"><strong> Historico</strong> <i class="fas fa-history iconos"></i></button>
	</a>
	<br>
</div>

{% endblock %}