{% extends "layout.html" %}
{% block content %}

<div style="width: 70%; float: left;">
	<h1>Periodos Presenciales</h1>
	<h2>{{catedratico[2]}} {{catedratico[0]}} {{catedratico[1]}}</h2>
	<h4>{{catedratico[3]}}</h4>
	<h4>{{catedratico[4]}}</h4>
	<h4>Registro: {{fechahora}}</h4>
</div>

<div style="width: 25%; float: right;">
	<img src="/static/barcodes/{{catedratico[0]}}_{{catedratico[1]}}.png" width="100%">
</div>
<br><br><br><br><br><br><br><br><br><br>
<center>
	<h3>Buen dia, estimado catedrático</h3>
	{% if estado == 0 %}
	<h5>Bienvenido</h5>
	<h4 style="color: red">Usted esta marcando periodos de entrada, recuerde que solo tiene 10 minutos para marcar su entrada, pasado el inicio de clases.</h4>
	<h4 style="color: red">Recuerde que debe marcar su salida para que los periodos sean registrados.</h4>
	<h4>Los periodos que quedarán anotados para el dia de hoy son los siguientes:</h4>
	{% elif estado == 1 %}
	<h4 style="color: green">Usted esta marcando periodos de salida, recuerde que debe esperar la hora de finalización de clases.</h4>
	<h4 style="color: green">Al darle click en "Aceptar", se registrarán los periodos. Sus periodos registrados el dia de hoy son:</h4>
	{% endif %}
</center>

<form action="" method="POST"  onsubmit="return alert('Datos registrados');">
	<table class="table table-striped sortable">
		<tr>
			<th>Nombre</th>
			<th>Hora Inicio</th>
			<th>Hora Fin</th>
			<th>Fecha</th>
			<th>Carrera</th>
			<th>Sección</th>
			<th>Modalidad</th>
			{% if estado == 0 %}
			<th>Registrar</th>
			{% endif %}
		</tr>
{% for i in periodos %}
		<tr>
			<td>{{i[1]}}</td>
			<td>{{i[2]}}</td>
			<td>{{i[3]}}</td>
			<td>{{i[4]}}</td>
			<td>{{i[5]}}</td>
			<td>{{i[6]}}</td>
			<td>{{i[7]}}</td>
			{% if estado == 0 %}
			<td>
				<input type="checkbox" data-toggle="toggle" id="check{{i[0]}}" checked>
			</td>
			{% endif %}
		</tr>

{% endfor %}
</table>
{% if mensajeini == 1 %}
<h4 style="color: red">Aun no puede marcar salida porque su horario no ha finalizado. Por favor, intente nuevamente cuando su horario haya finalizado.</h4>
<button type="submit" disabled class="btn btn-danger">Aceptar</button>
{% else %}
<button type="submit" class="btn btn-primary">Aceptar</button>
{% endif %}

</form>
<script>
    window.onload = function(){
        var mensaje = {{ mensajeini }}
        console.log(mensaje)
        if(mensaje == 1) {
            return alert("Sus periodos aun no han finalizado");
        }else {
            return 0;
        }
    }
</script>

{% endblock %}