{% extends "layout.html" %}
{% block content %}

<div style="width: 70%; float: left;">
	<h1>Periodos Presenciales</h1>
	<h2>{{catedratico[2]}} {{catedratico[0]}} {{catedratico[1]}}</h2>
	<h4>{{catedratico[3]}}</h4>
	<h4>{{catedratico[4]}}</h4>
</div>

<div style="width: 25%; float: right;">
	<img src="/static/barcodes/{{catedratico[0]}}_{{catedratico[1]}}.png" width="100%"> 
</div>
<br><br><br><br><br><br><br><br><br><br>
<center>
	<h3>Buen dia, estimado catedrático</h3>
	{% if estado == 0 %}
	<h5>Estado: Entrada</h5>
	<h4>Sus periodos para el dia de hoy son los siguientes:</h4>
	{% elif estado == 1 %}
	<h5>Estado: Salida</h5>
	<h4>Sus periodos registrados el dia de hoy son:</h4>
	{% endif %}
</center>

<form action="" method="POST">
	<table class="table table-striped sortable">
		<tr>
			<th>Nombre</th>
			<th>Hora Inicio</th>
			<th>Hora Fin</th>
			<th>Fecha</th>
			<th>Carrera</th>
			<th>Sección</th>
			<th>Modalidad</th>
			{% if estado == 0 %}
			<th>Registrar</th>
			{% endif %}
		</tr>
{% for i in periodos %}
		<tr>
			<td>{{i[1]}}</td>
			<td>{{i[2]}}</td>
			<td>{{i[3]}}</td>
			<td>{{i[4]}}</td>
			<td>{{i[5]}}</td>
			<td>{{i[6]}}</td>
			<td>{{i[7]}}</td>
			{% if estado == 0 %}
			<td>
				<input type="checkbox" data-toggle="toggle" id="check{{i[0]}}">
			</td>
			{% endif %}
		</tr>

{% endfor %}
</table>
<button type="submit" class="btn btn-primary">Aceptar</button>
</form>

{% endblock %}