{% extends "layout.html" %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<!-- fancyTable Js -->
<script src="{{ url_for('static', filename='fancyTable.js') }}"></script>

<h1>Registrar Cheques</h1>
<br>
<form action="" method="POST">
	<table class="table table-striped sortable" id="sampleTable">
		<tr>
			<th>Grado</th>
			<th>Nombre</th>
			<th>Factura</th>
			<th>Cantidad</th>
			<th>Cheque</th>
		</tr>
{% for i in catedraticos %}
	<tr>
		<td>{{i[3]}}</td>
		<td>{{i[1]}} {{i[2]}}</td>
		<td>{{i[5]}}</td>
		<td>Q {{i[4]}}</td>
		<td>
			<div class="form-group">
				<input type="text" class="form-control" id="{{i[0]}}{{i[5]}}" name="{{i[0]}}{{i[5]}}" placeholder="Factura {{i[5]}}">
			</div>
		</td>
	</tr>
{% endfor %}
</table>
<button type="submit" class="btn btn-primary">Aceptar</button>
</form>

<script>
	$(document).ready(function () {
		$("#sampleTable").fancyTable({
			pagination: true,
			perPage:8
		});
	});
</script>

{% endblock %}